{$APP_DOMAIN} {
    encode zstd gzip
    header Strict-Transport-Security "max-age=31536000"
    request_body {
        max_size 3MB
    }
    handle_path /static/* {
        root * /srv/static
        file_server
    }
    @django path /admin /admin/*
    handle @django {
        reverse_proxy backend:8000
    }
    handle {
        reverse_proxy frontend:3000
    }
}
